{% extends "layout3.html" %}
{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-5 mr-2 flex-column">
      <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="data:image/png;base64,{{ composition_thumbnail }}" alt="No Image found!">
          <div class="card-body">
            <h5 class="card-title">Book Composition</h5>
            <p class="card-text">This graph rappresents the compostions of categories, 
              It can indicate trends between authors and the most popular category.  </p>
            <a href="{{url_for('pie_chart')}}" class="btn btn-primary">See more!</a>
          </div>
      </div>    
    </div>
    <div class="col-md-5 flex-column">
      <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="data:image/png;base64,{{ avg_price_per_category_thumbnail }}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Avarage price per category</h5>
            <p class="card-text">This graph rappresents the correlation between the avarage price of each category,
               to see the most expensive.</p>
            <a href="{{url_for('avg_price_chart')}}" class="btn btn-primary">See more!</a>
          </div>
      </div>    
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-5 flex-column mr-2">
      <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="data:image/png;base64,{{avg_review_per_category_thumbnail}}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="{{url_for('avg_review_chart')}}" class="btn btn-primary">See more!</a>
          </div>
      </div>    
    </div>
    <div class="col-md-5 flex-column">
      <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="data:image/png;base64,{{ price_review_thumbnail }}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Review vs price</h5>
            <p class="card-text">This graph takes into consideraiton the reviews of individual books, 
              filter by extraction date.</p>
            <a href="{{url_for('price_review_chart')}}" class="btn btn-primary">See more!</a>
          </div>
      </div>    
    </div>
  </div>
</div>
{% endblock %} 