{% extends "layout2.html" %}
{% block content %}
     <div class="container justify-content">
        <div class="row">
            <div class="embed-responsive embed-responsive-1by1 col-md-6">
                <iframe src="{{url_for('/dash/avg_price_chart/')}}" class="embed-responsive-item border border-info rounded" ></iframe>
            </div>    
            <div class="col-4 ml-3">
                <p>{{ avg_price_comment }}</p>
                <div class="justify-content-center">
                    <a href="{{url_for('/dash/avg_price_chart/')}}">
                        <button class="btn btn-primary">
                            Go fullscreen
                        </button>
                    </a>
                    <a href="{{url_for('update_price_review')}}">
                        <button class="btn btn-primary" id="refreshButton">
                            Refresh
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const refreshButton = document.getElementById('refreshButton');

            function updateData() {
                fetch("/analyse/update/avg_price")
                .then(response => response.json())
                .then(data => {
                    window.location.replace(data.redirect_url);
            });
        }
            refreshButton.addEventListener('click', function(){
                updateData();
            });
        });
    </script>
{% endblock %} 