{% extends "layout.html" %}

{% block content %}
    <!-- Check if there are no books, display scrape button -->
    {% if books.items|length == 0 %}
        <button id="scrape-btn" class="btn btn-primary mb-4">Start Scraping</button>
    {% endif %}

    <!-- Loading Bar (Initially hidden) -->
    <div id="loading-bar-container" style="display: none;">
        <div class="progress">
            <div id="loading-bar" class="progress-bar progress-bar-striped progress-bar-animated" style="width: 0%;"></div>
        </div>
    </div>

    {% for book in books.items %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">{{ book.name }}</a>
                    <small class="text-muted">{{ book.date_extracted }}</small>
                </div>
                <h2><a class="article-title" href="#">{{ book.title }}</a></h2>
                <p class="article-content">{{ book.content }}</p>
            </div>
        </article>
    {% endfor %}

    {% for page_num in books.iter_pages() %}
        {% if page_num %}
            <a class="btn btn-outline-info mb-4" href="{{ url_for('home', page=page_num)}}">{{page_num}}</a>
        {% else %}
            ...
        {% endif %}
    {% endfor %}
{% endblock content %}