{% extends "layout2.html" %}

{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='login.css')}}" type="text/css">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-9">
            <div class="card shadow-lg">
                <div class="card-header d-flex align-items-center bg-steel">
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 text-center">
                            <img src="{{url_for('static', filename='Logo.png')}}" alt="Password Reset Image" class="img-fluid rounded-circle">
                        </div>
                        <div class="col-md-6">
                            <form action="" method="post">
                                <div class="form-group">
                                    {{ form.password.lable}}
                                    {% if form.password.errors %}
                                    <div class="invalid-feedback">
                                      {% for error in form.password.errors %}
                                          <span>{{error}} </span>
                                      {% endfor %}
                                    </div>
                                      {{form.password(class="form-control-label is-invalid")}}
                                  {% else %}    
                                      {{form.password(class="form-control", type="email", id="formEmail",placeholder="Enter your email")}}    
                                  {% endif %}
                                </div>
                                <div class="form-group">
                                    {{ form.confirm_password.lable}}
                                    {% if form.confirm_password.errors %}
                                    <div class="invalid-feedback">
                                      {% for error in form.confirm_password.errors %}
                                          <span>{{error}} </span>
                                      {% endfor %}
                                    </div>
                                      {{form.confirm_password(class="form-control-label is-invalid")}}
                                  {% else %}    
                                      {{form.confirm_password(class="form-control", type="email", id="formEmail",placeholder="Enter your email")}}    
                                  {% endif %}
                                </div>
                                <div class="form-group">
                                    {{ form.submit(class="btn btn-primary") }}
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
