
.rounded-circle {
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: auto;
  }

@media (max-width: 1000px) {
  .rounded-circle {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%; 
    height: auto;
    margin-bottom: 15px; 
  }
}